body {
  margin: 0;
  padding: 0;
  background-color: #BBCE8A;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container > * {
  margin: 0 0.5rem;
  max-width: 600px;
  width: 100%;
}

.main {
  padding-top: 1em;
}

.main > *{
  margin-top: 1em;
  padding: 2em;
  padding-top: 0em;
  background-color: #EEF4D4;
  box-shadow: 3px 3px 10px #331B12AA;
}

.navbar {
  background-color: #331B12;
  line-height: 3rem;
  height: 3rem;
  vertical-align: baseline;
}

.navbar h1 {
  line-height: 3rem;
  color: #FEFFBE;
}

